<h2>Список продуктов</h2>

<div *ngIf="!isLoaded">Загрузка...</div>
<div *ngIf="isLoaded">
  <div *ngIf="products.length; else elseBlock">
    <!-- TABLE -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Код товара</th>
          <th>Наименование</th>
          <th>Цена</th>
          <th class="text-lg-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productsOnCurrentPage; let i=index">
          <th scope="row" >{{i + 1}}</th>
          <td>{{product.prodCode}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <!-- action depends from rules -->
          <td *ngIf="!isAdmin">
            <div class="flow-text">
              <a class="waves-effect waves-light btn-small grey" (click)="decCount(i)">
                <i class="material-icons">remove</i>
              </a>
              {{product.count}}
              <a class="waves-effect waves-light btn-small grey" (click)="incCount(i)">
                <i class="material-icons">add</i>
              </a>
            </div>
          </td>
          <td *ngIf="isAdmin">
            <button type="button" class="btn-small green" routerLink="/product/{{product._id}}">Редактировать</button>
          </td>
          <!-- action depends from rules -->
          <td *ngIf="!isAdmin">
            <button type="button" class="btn-small blue" (click)="addToCart(product._id, product.count)">Добавить в корзину</button>
          </td>
          <td *ngIf="isAdmin">
            <button type="button" class="btn-small red" (click)="removeById(product._id)">Удалить</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination -->
    <app-pagination [offset]="offset" [limit]="limit" [size]="count" (pageChange)="onPageChange($event)"></app-pagination>
  </div>

  <!-- for admin -->
  <div>
    <button type="button" class="btn-small blue" routerLink="/product/new">+ Добавить новый продукт</button>
  </div>

  <ng-template #elseBlock>
    <p>Список товаров пуст</p>
  </ng-template>
</div>
